#box-1 {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

button#buy {
  background-color: blueviolet;
}

button#buy:hover {
  background-color: rgb(117, 32, 197);
}

#box-2 {
  background-color: #f8f9fa;
  padding-top: 150px;
  padding-bottom: 150px;
}

#box-2 button:hover {
  background-color: #e4e7eb;
  color: #007bff;
}

#box-3 {
  background-color: #060129;
  padding-top: 150px;
  padding-bottom: 150px;
}
